.filter-list {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    justify-content: center;
  }
}
.filter-list__item:not(:last-child) {
  margin-right: 8px;
}
.filter-list__btn {
  margin-bottom: 15px;
}
