.skills {
  padding-top: 0;
}
.skills__list {
  display: flex;
}
.skills__title {
  margin-bottom: 50px;
}
.skills__title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}
.skills__item {
  flex-basis: calc((100% - 60px) / 3);
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.skills__wrapper {
  position: relative;
}
.skills__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  font-size: 14px;
  line-height: calc(14 / 16);
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}
