.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer__web {
  color: #2196f3;
}
