:root {
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --third-title-color: #212121;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --header-nav-item-color: #212121;
  --header-contact-link-color: #757575;
  --accent-color: #2196f3;
}
